* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(balancestones2.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}

header {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    text-shadow: 0px 0px 10px #c0705b;
    font-family: system-ui;
    
}

main {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
      
}

div {
    
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    width: 150px;

}

.about, .goals {
    display: block;
    margin:auto;
    text-align: center;
    color: black;
    width: 80px;
    height: 30px;
    font-size: 30px;
    font-family: system-ui;
    text-shadow: 0px 0px 10px #c0705b;
    
}

a:active {
    color:black;
}

a:visited {
    color:black;
}

a:hover {
    color:whitesmoke;
}

footer {
    text-align: center; 
    width: 100vw;
    height: 4vh;
    color: black;
    font-size: 21px;
    font-family: system-ui;
    text-shadow: 0px 0px 10px black;
    margin-bottom: 4px;
}
